fastapi
uvicorn[standard]

sentence-transformers
faiss-cpu
torch
transformers

numpy
scikit-learn
pandas
scipy

pydantic
requests

rank-bm25
loguru

matplotlib
plotly
altair==4.2.2

umap-learn

streamlit