streamlit==1.33.0
fastapi==0.110.0
uvicorn==0.29.0

sentence-transformers==2.7.0
faiss-cpu==1.13.0

numpy==1.26.4
scipy==1.11.4
scikit-learn==1.4.2

pandas==2.2.2
plotly==5.20.0
requests==2.31.0
pickle-mixin==1.0.2